
      <section id="main" ng-show="runlist != null">
        <h1>{{runlist.name}}</h1>
        <button class="btn btn-primary" ng-click="doCancel()">Cancel</button>
        <h1>Steps</h1>
        <ul id="run-list">
          <li ng-repeat="step in runlist.steps">
            <div id="run-info-text">
              <button ng-show="$index >= currentStep" ng-disabled="$index != currentStep" class="btn btn-mini btn-primary" ng-click="makeDone($index)"><i class="icon-ok-circle"></i></button>
              <button ng-show="$index < currentStep" ng-disabled="$index != currentStep-1" class="btn btn-mini btn-primary" ng-dblclick="makeUndone($index)">{{step.doneTs | prettyTime}}</button>
              <span ng-class="strikeClass(step.doneP)">{{step.text}}</span>
            </div>
          </li>
          <li>
            <button ng-show="runlist.steps.length == currentStep" class="btn btn-mini btn-primary" ng-click="downloadSummary()">Download Summary</button>
          </li>
        </ul>
      </section>

